* {
    box-sizing: border-box;
}

html {
    font-family: sans-serif;
    background-image: url("https://i.imgur.com/lHjYzzm.jpg");
    overflow: scroll;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

h1 {
    align-content: center;
}

a {
    color: antiquewhite;
    font: bold;
    text-align: center;
}

body {
    width: 70%;
    max-width: 100%;
    margin: 20px auto;
}

button {
    font-size: 18px;
    line-height: 1.5;
    width: 15%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

img {
    width: 20vw;
}

img.IconsImage{
    position: relative;
    max-width:30%;
    max-height: 50%;
    margin-top: 0.5vw;
}


img.PortfolioImage {
    max-width: 100%;
    position: relative;
    float: left;
    width: 200px;
    height: 150px;
    padding: 5px;
}

img.circleFrame {
    border-radius: 50%;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-color: #391F50;
    margin-top: 1vw;
    width: 12vw;
    float: left;
    margin-left: 0;
}

img.Logo {
    width: 40vw;
    position: relative; 
    height: 18vw;
    margin-top: 0;
}

#lista {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-wrap: wrap;
    flex: 1;

}

article h4 {
    text-align: justify;
    padding: 1vw;
    position: relative;
}

section {
    position: absolute;
    background: rgba(0,0,0,0.7);
    width: 55vw;
    display: none;
    float: right;
    margin-top: 2vw;
    margin-left: 13vw;
    min-height: 400px;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1em;
}


section:first-of-type {
    display: block;
}

ul {
    list-style-type: none;
    text-align:justify;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 1.2em;
    color: white;
    text-align: justify;
    padding-right: 2.5vw;
    padding-left: 2.5vw;
    text-decoration: none;
    display: inline;
}

ul.top {
    text-align: center;
}
ul.down { 
    text-align: center;
    margin-top: 0.1vw;
    width:80vw;
}

@font-face {
    font-family: font1;
    src: url(.\Font\INVASION2000.ttf);
}

.active {
    background: blueviolet;
}